In [56]:
import pandas as pd
import os
import glob
import csv
import warnings

In [57]:
warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')
folder_path = 'typesoffiles'
pattern = '*'

In [58]:
def transform_excel(filename):
    if '~' in filename:
        result_df = pd.DataFrame(columns=['ITEM CODE', 'BRAND', 'UPC CODE', 'DESCRIPTION', 'MAP', 'MSRP', 'COST'])
    else:
        result_df= pd.DataFrame(columns=['ITEM CODE', 'BRAND', 'UPC CODE', 'DESCRIPTION', 'MAP', 'MSRP', 'COST'])
        xls = pd.ExcelFile(filename)
        sheet_names = xls.sheet_names
        temp_df = None
        if len(sheet_names) > 1:
            for i, sheet_name in enumerate(sheet_names):
                for i in range(5):
                    df = pd.read_excel(filename, sheet_name=sheet_name, header=i).copy()
                    fields = df.columns
                    fields = [str(field) for field in fields]
                    print(fields)
                    if ('map' in (','.join(fields)).lower() or 'msrp' in (','.join(fields)).lower() or 'retail' in (','.join(fields)).lower() or 'dealer cost' in (','.join(fields)).lower()):
                        if ('brand' in (','.join(fields)).lower() or 'vendor' in (','.join(fields)).lower()):
                            break
                        else:
                            df['BRAND'] = sheet_name
                            break
                    else:
                        continue
                    
                
                result_df_temp = pd.DataFrame(columns=['ITEM CODE', 'BRAND', 'UPC CODE', 'DESCRIPTION', 'MAP', 'MSRP', 'COST'])
                df_fields = df.columns
                result_df_fields = result_df.columns        
                for xfield in result_df_fields:
                    for yfield in df_fields:
                        if ('ITEM CODE' in xfield and ('item code' in yfield.lower() or 'item num' in yfield.lower() or 'item no' in yfield.lower() or 'part' in yfield.lower() or 'product' == yfield.lower())):
                            print(yfield)
                            result_df_temp[xfield] = df[yfield].copy()
                        elif ('BRAND' in xfield and ('brand' in yfield.lower() or 'vendor' in yfield.lower())):
                            print(yfield)
                            result_df_temp[xfield] = df[yfield].copy()
                        elif ('UPC CODE' in xfield and 'upc' in yfield.lower()):
                            print(yfield)
                            result_df_temp[xfield] = df[yfield].copy()
                        elif ('DESCRIPTION' in xfield and 'description' in yfield.lower()):
                            print(yfield)
                            result_df_temp[xfield] = df[yfield].copy()
                        elif ('MAP' in xfield and 'map' in yfield.lower()):
                            print(yfield)
                            result_df_temp[xfield] = df[yfield].copy()
                        elif ('MSRP' in xfield and ('msrp' in yfield.lower() or 'retail' in yfield.lower())):
                            print(yfield)
                            result_df_temp[xfield] = df[yfield].copy()
                        elif ('COST' in xfield and ('dealer' in yfield.lower() or 'cost' in yfield.lower())):
                            print(yfield)
                            result_df_temp[xfield] = df[yfield].copy()
                result_df = pd.concat([result_df, result_df_temp], ignore_index=True)

        else:
            for i in range(5):
                df = pd.read_excel(filename, header=i).copy()
                fields = df.columns
                fields = [str(field) for field in fields]
                print(fields)
                if ('map' in (','.join(fields)).lower() or 'msrp' in (','.join(fields)).lower() or 'retail' in (','.join(fields)).lower() or 'dealer cost' in (','.join(fields)).lower()):
                    if ('brand' in (','.join(fields)).lower() or 'vendor' in (','.join(fields)).lower()):
                        break
                    else:
                        df['BRAND'] = ''
                        break
                else:
                    continue

            result_df_temp = pd.DataFrame(columns=['ITEM CODE', 'BRAND', 'UPC CODE', 'DESCRIPTION', 'MAP', 'MSRP', 'COST'])
            df_fields = df.columns
            result_df_fields = result_df.columns        
            for xfield in result_df_fields:
                for yfield in df_fields:
                    if ('ITEM CODE' in xfield and ('item code' in yfield.lower() or 'item num' in yfield.lower() or 'item no' in yfield.lower() or 'part' in yfield.lower() or 'product' == yfield.lower())):
                        print(yfield)
                        result_df_temp[xfield] = df[yfield].copy()
                    elif ('BRAND' in xfield and ('brand' in yfield.lower() or 'vendor' in yfield.lower())):
                        print(yfield)
                        result_df_temp[xfield] = df[yfield].copy()
                    elif ('UPC CODE' in xfield and 'upc' in yfield.lower()):
                        print(yfield)
                        result_df_temp[xfield] = df[yfield].copy()
                    elif ('DESCRIPTION' in xfield and 'desc' in yfield.lower()):
                        print(yfield)
                        result_df_temp[xfield] = df[yfield].copy()
                    elif ('MAP' in xfield and 'map' in yfield.lower()):
                        print(yfield)
                        result_df_temp[xfield] = df[yfield].copy()
                    elif ('MSRP' in xfield and ('msrp' in yfield.lower() or 'retail' in yfield.lower())):
                        print(yfield)
                        result_df_temp[xfield] = df[yfield].copy()
                    elif ('COST' in xfield and ('dealer' in yfield.lower() or 'cost' in yfield.lower())):
                        print(yfield)
                        result_df_temp[xfield] = df[yfield].copy()
            result_df = pd.concat([result_df, result_df_temp], ignore_index=True)

    return result_df

In [59]:
def transform_csv(filename):
    if '~' in filename:
        result_df = pd.DataFrame(columns=['ITEM CODE', 'BRAND', 'UPC CODE', 'DESCRIPTION', 'MAP', 'MSRP', 'COST'])
    else:
        result_df= pd.DataFrame(columns=['ITEM CODE', 'BRAND', 'UPC CODE', 'DESCRIPTION', 'MAP', 'MSRP', 'COST'])
        temp_df = None
        for i in range(3):
            df = pd.read_csv(filename, header=i, encoding='unicode_escape').copy()
            fields = df.columns
            fields = [str(field) for field in fields]
            print(fields)
            if ('map' in (','.join(fields)).lower() or 'msrp' in (','.join(fields)).lower() or 'retail' in (','.join(fields)).lower() or 'dealer cost' in (','.join(fields)).lower()):
                break
            else:
                continue

        result_df_temp = pd.DataFrame(columns=['ITEM CODE', 'BRAND', 'UPC CODE', 'DESCRIPTION', 'MAP', 'MSRP', 'COST'])
        df_fields = df.columns
        result_df_fields = result_df.columns        
        for xfield in result_df_fields:
            for yfield in df_fields:
                if ('ITEM CODE' in xfield and ('item code' in yfield.lower() or 'item num' in yfield.lower() or 'item no' in yfield.lower() or 'part' in yfield.lower() or 'product' == yfield.lower())):
                    print(yfield)
                    result_df_temp[xfield] = df[yfield].copy()
                elif ('BRAND' in xfield and ('brand' in yfield.lower() or 'vendor' in yfield.lower())):
                    print(yfield)
                    result_df_temp[xfield] = df[yfield].copy()
                elif ('UPC CODE' in xfield and 'upc' in yfield.lower()):
                    print(yfield)
                    result_df_temp[xfield] = df[yfield].copy()
                elif ('DESCRIPTION' in xfield and 'description' in yfield.lower()):
                    print(yfield)
                    result_df_temp[xfield] = df[yfield].copy()
                elif ('MAP' in xfield and 'map' in yfield.lower()):
                    print(yfield)
                    result_df_temp[xfield] = df[yfield].copy()
                elif ('MSRP' in xfield and ('msrp' in yfield.lower() or 'retail' in yfield.lower())):
                    print(yfield)
                    result_df_temp[xfield] = df[yfield].copy()
                elif ('COST' in xfield and ('dealer' in yfield.lower() or 'cost' in yfield.lower())):
                    print(yfield)
                    result_df_temp[xfield] = df[yfield].copy()
        result_df = pd.concat([result_df, result_df_temp], ignore_index=True)
    
    return result_df

In [60]:
def multiple_to_numeric(field):
    pd.to_numeric()

In [61]:
def read_file():
    result_df = pd.DataFrame(columns=['ITEM CODE', 'BRAND', 'UPC CODE', 'DESCRIPTION', 'MAP', 'MSRP', 'COST'])
    filenames = glob.glob(folder_path+'/'+pattern)
    for filename in filenames:
        print(filename)
        if '.xlsx' in filename:
            temp_data = transform_excel(filename)
        elif '.csv' in filename:
            temp_data = transform_csv(filename)
        else:
            continue
        result_df = pd.concat([result_df, temp_data.copy()], ignore_index=True)
    # result_df[pd.to_numeric(result_df['COST'], errors='coerce').notnull()]
    result_df = result_df.astype({'ITEM CODE': 'object',
                                 'BRAND': 'category',
                                 'UPC CODE': 'object',
                                 'DESCRIPTION': 'object'} 
                                )
    numeric_field = ('MAP', 'MSRP', 'COST')
    for field in numeric_field:
        result_df[field] = pd.to_numeric(result_df[field], errors='coerce')
    # result_df = result_df[result_df['COST'].notnull()]
    
    return result_df

def get_title_ECommerce(desc):
    try:
        result = desc.split(',')[0]
    except:
        result = desc
    return result

def get_price_ECommerce(price1, price2, price3): 
    if not pd.isna(price1):
        result = price1
    else:
        if not pd.isna(price2):
            result = price2
        else:
            if not pd.isna(price3):
                result = price3
            else:
                result = None
    return result

def get_cost_per_item_ECommerce(price1, price2, price3, price4):
    if not pd.isna(price1):
        result = price1
    else:
        if not pd.isna(price2):
            result = price2
        else:
            if not pd.isna(price3):
                result = price3
            else:
                if not pd.isna(price4):
                    result = price4
                else:
                    result = None
    return result

In [62]:
def generate_database(data):
    database_df = pd.DataFrame()
    database_df['Handle'] = ''
    database_df['Title'] = data['DESCRIPTION'].apply(get_title_ECommerce)
    database_df['Body (HTML)'] = data['DESCRIPTION']
    database_df['Vendor'] = data['VENDOR']
    database_df['Product Category'] = 'Parts'
    database_df['Type'] = ''
    database_df['Tags'] = ''
    database_df['Published'] = 'false'
    database_df['Option1 Name'] = ''
    database_df['Option1 Value'] = ''
    database_df['Option2 Name'] = ''
    database_df['Option2 Value'] = ''
    database_df['Option3 Name'] = ''
    database_df['Option3 Value'] = ''
    database_df['Variant SKU'] = data['ITEM CODE']
    database_df['Variant Grams'] = ''
    database_df['Variant Inventory Tracker'] = ''
    database_df['Variant Inventory Qty'] = ''
    database_df['Variant Inventory Policy'] = ''
    database_df['Variant Fulfillment Service'] = 'manual'
    database_df['Variant Price'] = data.apply(lambda x: get_price_ECommerce(x['MAP'], x['IMAP'], x['MSRP']), axis=1)
    database_df['Variant Compare At Price'] = ''
    database_df['Variant Requires Shipping'] = ''
    database_df['Variant Taxable'] = ''
    database_df['Variant Barcode'] = ''
    database_df['Img Src'] = ''
    database_df['Img Position'] = ''
    database_df['Image Alt Text'] = ''
    database_df['Gift Card'] = ''
    database_df['SEO Title'] = ''
    database_df['SEO Description'] = ''
    database_df['Google Shopping / Google Product Category'] = ''
    database_df['Google Shopping / Gender'] = ''
    database_df['Google Shopping / Age Group'] = 'adult'
    database_df['Google Shopping / MPN'] = data['UPC CODE']
    database_df['Google Shopping / AdWords Grouping'] = ''
    database_df['Google Shopping / AdWords Labels'] = ''
    database_df['Google Shopping / Condition'] = 'new'
    database_df['Google Shopping / Custom Product'] = ''
    database_df['Google Shopping / Custom Label 0'] = ''
    database_df['Google Shopping / Custom Label 1'] = ''
    database_df['Google Shopping / Custom Label 2'] = ''
    database_df['Google Shopping / Custom Label 3'] = ''
    database_df['Google Shopping / Custom Label 4'] = ''
    database_df['Variant Image'] = ''
    database_df['Variant Weight Unit'] = 'grams'
    database_df['Variant Tax Code'] = ''
    database_df['Cost per item'] = data.apply(lambda x: get_cost_per_item_ECommerce(x['DEALER w/ 35% DISCOUNT'], x['DEALER w/ 30% DISCOUNT'], x['DEALER w/ 40% DISCOUNT'], x['DEALER']), axis=1)
    database_df['Price / International'] = data.apply(lambda x: get_price_ECommerce(x['MAP'], x['IMAP'], x['MSRP']), axis=1)
    database_df['Compare At Price / International'] = ''
    database_df['Status'] = 'draft'
    database_df = database_df[~database_df['Variant Price'].isnull()]
    return database_df

def main():
    data = read_file()
    result = generate_database(data)
    return result

database = main()

In [63]:
data = read_file()

typesoffiles\Dealer and Distributor Pricing (4) (1).pdf
typesoffiles\ECommerce Master Pricing-UPC File.xlsx
['ITEM CODE', 'UPC CODE', 'DESCRIPTION', 'MAP', 'DEALER w/ 35% DISCOUNT']
ITEM CODE
BRAND
UPC CODE
DESCRIPTION
MAP
DEALER w/ 35% DISCOUNT

C:\Users\Muhammad Harits R\AppData\Local\Temp\ipykernel_13804\3518984227.py:52: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, result_df_temp], ignore_index=True)

['ITEM CODE', 'UPC CODE', 'DESCRIPTION', 'MSRP', 'DEALER w/ 35% DISCOUNT']
ITEM CODE
BRAND
UPC CODE
DESCRIPTION
MSRP
DEALER w/ 35% DISCOUNT
['ITEM CODE', 'UPC CODE', 'DESCRIPTION', 'MAP', 'DEALER']
ITEM CODE
BRAND
UPC CODE
DESCRIPTION
MAP
DEALER

C:\Users\Muhammad Harits R\AppData\Local\Temp\ipykernel_13804\3518984227.py:52: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, result_df_temp], ignore_index=True)

['ITEM CODE', 'UPC CODE', 'DESCRIPTION', 'MAP', 'DEALER w/ 30% DISCOUNT']
ITEM CODE
BRAND
UPC CODE
DESCRIPTION
MAP
DEALER w/ 30% DISCOUNT
['ITEM CODE', 'UPC CODE', 'DESCRIPTION', 'MAP', 'DEALER w/ 35% DISCOUNT']
ITEM CODE
BRAND
UPC CODE
DESCRIPTION
MAP
DEALER w/ 35% DISCOUNT
['ITEM CODE', 'UPC CODE', 'DESCRIPTION', 'MAP', 'DEALER w/ 35% DISCOUNT']
ITEM CODE
BRAND
UPC CODE
DESCRIPTION
MAP
DEALER w/ 35% DISCOUNT
['ITEM CODE', 'UPC CODE', 'DESCRIPTION', 'MSRP', 'DEALER w/ 35% DISCOUNT']
ITEM CODE
BRAND
UPC CODE
DESCRIPTION
MSRP
DEALER w/ 35% DISCOUNT

C:\Users\Muhammad Harits R\AppData\Local\Temp\ipykernel_13804\3518984227.py:52: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, result_df_temp], ignore_index=True)

['ITEM CODE', 'UPC CODE', 'DESCRIPTION', 'IMAP', 'DEALER w/ 40% DISCOUNT', 'SPECIAL ORDER']
ITEM CODE
BRAND
UPC CODE
DESCRIPTION
IMAP
DEALER w/ 40% DISCOUNT
['ITEM CODE', 'UPC CODE', 'DESCRIPTION', 'IMAP', 'DEALER w/ 30% DISCOUNT', 'SPECIAL ORDER']
ITEM CODE
BRAND
UPC CODE
DESCRIPTION
IMAP
DEALER w/ 30% DISCOUNT
['ITEM CODE', 'UPC CODE', 'DESCRIPTION', 'MAP', 'DEALER w/ 40% DISCOUNT', 'SPECIAL ORDER']
ITEM CODE
BRAND
UPC CODE
DESCRIPTION
MAP
DEALER w/ 40% DISCOUNT
['ITEM CODE', 'UPC CODE', 'DESCRIPTION', 'MAP', 'DEALER w/ 35% DISCOUNT']
ITEM CODE
BRAND
UPC CODE
DESCRIPTION
MAP
DEALER w/ 35% DISCOUNT
typesoffiles\Harvia Single _ Pallet Pricing 8.25.2023 (2).pdf
typesoffiles\Internet Template June 1 2023.xlsx

C:\Users\Muhammad Harits R\AppData\Local\Temp\ipykernel_13804\2578552915.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, temp_data.copy()], ignore_index=True)

["Manufacturer's Item number", 'Description', 'UPC Code', 'Name', 'Collection', 'Cost', 'Surcharge', 'MAP', 'MSRP', '1 Year Service Contract                               (required on all drop shipments)', 'Materials Made of', 'Fabric Name', 'Color', 'Fabric Content', 'Cleaning Code', 'Feature 1', 'Feature 2', 'Feature 3', 'Feature 4', 'Feature 5', 'Feature 6', 'Number of Boxes', 'Box Length', 'Box Width', 'Box Height', 'Weight', 'Cubes', 'Country of Orgin', 'Weight Capacity', 'Comfort Zones', 'Chaise Seat', 'Pocketed Coil Seat', 'Back Style', 'Removable Back Type', 'Overall Width', 'Overall Height', 'Overall Depth (Seated)', 'Width Between Arms', 'Floor to Top of Seat', 'Seat Depth', 'Seat To Top Of Back', 'Seat To Top Of Arm', 'Seat Angle Raised', 'Distance Required from the Wall When Reclined', 'Extension reclined from Back of Seat to End of Footrest', 'Lifetime Warranty on Chair Frame, Lift Frame, Recline Frame and Recline Mechanism', 'Warranty on Electrical Parts', 'Warranty on Mechanical Labor', 'Warranty on Electrical Labor', 'Warranty on Fabric, Foam & Pocketed Coils', 'Headrest Cover', 'Arm Covers', 'Straight Lift', 'Hand Control Routing', 'Extra Pocket Available', 'Heatwave Available', 'Heat & Massage Available', 'Articulating Headrest Available', 'Adjustable Lumbar Available ', 'AutoFlex Available', 'Footrest Extension Available', 'USB Charging Port', 'Standard Fabric Patterns', 'Crossover Fabric Options', 'Battery Backup', 'Ad Copy', 'NOTES']
Manufacturer's Item number
Warranty on Electrical Parts
BRAND
UPC Code
Description
MAP
MSRP
Cost
['Service Contract $53.00 required on all shipments']
['Unnamed: 0']
['Service and Handling Fee:  2% of Merchandise Total   ']
['Unnamed: 0']
['Residential Shipping Charges']
['Rural White Glove Chart', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7']
['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7']
['State', 'Zip Codes Applicable for Beyond Charges', 'State.1', 'Zip Codes Applicable for Beyond Charges.1', 'State.2', 'Zip Codes Applicable for Beyond Charges.2', 'State.3', 'Zip Codes Applicable for Beyond Charges.3']
['Alabama', '354-358, 360, 363, 364,367-369', 'Iowa', '502-508,\n510-514, 520, 521, 525-528', 'Nevada', '893894898', 'South Dakota', 'ALL']
['Arizona', '853, 856, 855, 859, 860, \n863-865', 'Kansas', '664- 669,\n674-679', 'New Hampshire', '035-037', 'Tennessee', '373,374,382-385']
typesoffiles\Karman Dealer Price List 2023.xlsx
['Karman Healthcare Dealer Price List (Latest Rev. 230125-aray)', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15']
['Category', 'UPC', 'Item Number  ', 'Item Description', 'Product Overview', 'Item Detail ', 'Frame Color', 'Dealer Cost', 'MAP (minimum advertised price)', 'MSRP', 'Carton Dimensions', 'Shipping Weight', 'Ships Via', 'Image URL', 'HCPCS Code', 'Product Landing Page']
Item Number
BRAND
UPC
Item Description
MAP (minimum advertised price)
MSRP
Dealer Cost
typesoffiles\lm_map_pricing.csv
['Brand', 'Item No_', 'Description', 'MAP Price', 'Retail Price']
Item No_
Brand
Description
MAP Price
Retail Price
typesoffiles\SubGravity June_2021_SG.xlsx

C:\Users\Muhammad Harits R\AppData\Local\Temp\ipykernel_13804\3518984227.py:95: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, result_df_temp], ignore_index=True)
C:\Users\Muhammad Harits R\AppData\Local\Temp\ipykernel_13804\3456999304.py:43: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, result_df_temp], ignore_index=True)

['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']
['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']
['Unnamed: 0', 'This document was exported from Numbers.  Each table was converted to an Excel worksheet. All other objects on each Numbers sheet were placed on separate worksheets. Please be aware that formula calculations may differ in Excel.', 'Unnamed: 2', 'Unnamed: 3']
['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']
['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']
['SG Item Number', 'SG Description', 'Dealer Cost', 'Retail', 'URL (more info)']
SG Item Number
BRAND
SG Description
Retail
Dealer Cost
['Unnamed: 0', 'All low and high pressure hoses have a limited service-life irrespective of the external appearance.\n\t•\tIf there is any sign of gas-flow restriction in the regulator assembly, the diver should stop using the regulator immediately. A careful inspection of the regulator and the hose should be performed.\n\t•\tInspect all hoses regularly, including squeezing the hose every couple of inches to assess whether the hose exhibits the same degree of flex. Any indication of a change in the resistance while squeezing along the length of the hose could indicate a potential problem.\n\t•\tDo not clean out the inside of any hose with a detergent. Use warm water and a mild soap, and dry in a ventilated room.\n', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7']

C:\Users\Muhammad Harits R\AppData\Local\Temp\ipykernel_13804\3518984227.py:52: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, result_df_temp], ignore_index=True)

['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7']
['SG Item Number', 'Length (inches)', 'Length (cm)', 'Color', 'Dealer Cost USD', 'I.D. / O.D.  (mm)', 'W.P. / B.P. (psi)', 'URL (more info)']
SG Item Number
BRAND
Dealer Cost USD

C:\Users\Muhammad Harits R\AppData\Local\Temp\ipykernel_13804\3518984227.py:52: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, result_df_temp], ignore_index=True)

['SG Item Number', 'SG Description', 'Dealer Cost', 'Retail', 'URL (more info)']
SG Item Number
BRAND
SG Description
Retail
Dealer Cost
['WARNING - GENERAL SAFETY -  No person should breathe from, dive, or attempt to operate in any way, a SubGravity rebreather, or any component part thereof, without first completing an appropriate SubGravity Certified user-training course. For a list of approved courses and instructors, visit: CCR.Sub-Gravity.com', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']
['Part Number', 'Description', 'Note', 'Dealer Cost', 'Retail']
Part Number
BRAND
Description
Retail
Dealer Cost
['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']
['Part Number', 'Description', 'OPV', 'Loop Hose Size / T-Piece Type', 'Optional ADV', 'Dealer Cost', 'Retail']
Part Number
BRAND
Description
Retail
Dealer Cost
['Earn more with SubGravity! Save over 7% (as a dealer) by purchasing as a complete package!', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']
['Package Includes: Wing, Cam Bands, Backplate, Backplate Pad, Harness, 2 Trim Weight Pockets', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']
['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']
['SG Item Number', 'SG Description', 'Dealer Cost', 'Retail', 'URL (more info)']
SG Item Number
BRAND
SG Description
Retail
Dealer Cost
['SG Item Number', 'Item Type', 'Replaces', ' Rebreather/Analyzer Applications', 'Dealer Cost', 'Retail', 'Delivery Note']
SG Item Number
BRAND
Retail
Dealer Cost
typesoffiles\Summit to Sea email Info.pdf
typesoffiles\Thrill seeker gear Dealer Sheet - AkrobatUSA (1).xlsx
['Product', 'Retail', 'MAP', 'East Coast Discount', 'Discount off list price', 'East Coast your cost', 'West Coast Discount ', 'Discount off list price.1', 'West Coast your cost', 'Inventory Avail 2/14/23', 'Unnamed: 10', 'Unnamed: 11']
Product
BRAND
MAP
Retail
East Coast your cost
West Coast your cost
typesoffiles\~$Internet Template June 1 2023.xlsx
typesoffiles\~$Karman Dealer Price List 2023.xlsx
typesoffiles\~$SubGravity June_2021_SG.xlsx

C:\Users\Muhammad Harits R\AppData\Local\Temp\ipykernel_13804\3518984227.py:95: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, result_df_temp], ignore_index=True)

In [64]:
data['BRAND'].unique()

['BLAZE', 'BROILMASTER', 'BROIL KING', 'BROMIC 30%', 'BROMIC 35%', ..., 'SG DPVs - Page 3', 'Rebreathers - Page 4', 'Rebreather BMCL - Page 5', 'Paragon Packages - Page 6', 'Oxygen Sensors _ Analyzers - Pa']
Length: 897
Categories (897, object): ['', '0ZWEST', '2XU', '303 PRODUCTS', ..., 'ZANHEADGEAR', 'ZIPPO', 'ZOOBILEE', 'ZUKES']

In [65]:
data

,ITEM CODE,BRAND,UPC CODE,DESCRIPTION,MAP,MSRP,COST
0,BLZ-30CKT-SNK,BLAZE,818718012648.0,"BEVERAGE CENTER, CANNOT BE SOLD IN CALIFORNIA ...",1649.99,NaN,1072.4935
1,BLZ-GDBEV-5.5,BLAZE,818718013522.0,"BEVERAGE COOLER, OUTDOOR RATED 5.5 CUBIC FEET,...",1829.99,NaN,1189.4935
2,BLZ-ELEC21-HGKT,BLAZE,818718013331.0,"BUILT IN KIT, 21'' (ELECTRIC)",69.99,NaN,45.4935
3,BLZ-GRIDDLE-CT-SC,BLAZE,818718013775.0,"CART, GRIDDLE 30''",825.99,NaN,536.8935
4,BLZ-KMDO2-CART,BLAZE,818718011382.0,"CART, KAMADO 20''",249.99,NaN,162.4935
...,...,...,...,...,...,...,...
26920,14ft x 10ft Challenger - Gray,,NaN,NaN,2999.00,3499.0,2799.2000
26921,14ft x 10ft Challenger - SE,,NaN,NaN,2999.00,3599.0,2879.2000
26922,17ft x 10ft Challenger - Black,,NaN,NaN,3999.00,4395.0,3516.0000
26923,17ft x 10ft Challenger - Gray,,NaN,NaN,3999.00,4395.0,3516.0000
26924,17ft x 10ft Challenger - SE,,NaN,NaN,3999.00,4595.0,3676.0000

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26925 entries, 0 to 26924
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ITEM CODE    26748 non-null  object
 1   BRAND        26925 non-null  category
 2   UPC CODE     976 non-null    object
 3   DESCRIPTION  26374 non-null  object
 4   MAP          25722 non-null  float64
 5   MSRP         25032 non-null  float64
 6   COST         2813 non-null   float64
dtypes: category(1), float64(3), object(3)
memory usage: 1.3+ MB

In [67]:
data.shape

(26925, 7)

In [69]:
data[data['ITEM CODE'] == 'SG-TriMix']

,ITEM CODE,BRAND,UPC CODE,DESCRIPTION,MAP,MSRP,COST
26832,SG-TriMix,Oxygen Sensors _ Analyzers - Pa,NaN,NaN,NaN,925.0,780.0

In [ ]:
data.to_csv('standardized_vendor_data.csv', index=False)

In [ ]:
data[data['SOURCE'] == 'lm_map']

In [ ]:
data.columns

In [ ]:
empty_product = {
    'Handle': '', 'Title': '', 'Body (HTML)': '', 'Vendor': '', 'Product Category': '', 'Type': '', 'Tags': '',
    'Published': '', 'Option1 Name': '', 'Option1 Value': '', 'Option2 Name': '', 'Option2 Value': '',
    'Option3 Name': '', 'Option3 Value': '', 'Variant SKU': '', 'Variant Grams': '',
    'Variant Inventory Tracker': '', 'Variant Inventory Qty': '', 'Variant Inventory Policy': '',
    'Variant Fulfillment Service': '', 'Variant Price': '', 'Variant Compare At Price': '',
    'Variant Requires Shipping': '', 'Variant Taxable': '', 'Variant Barcode': '', 'Image Src': '',
    'Image Position': '', 'Image Alt Text': '', 'Gift Card': '', 'SEO Title': '', 'SEO Description': '',
    'Google Shopping / Google Product Category': '', 'Google Shopping / Gender': '',
    'Google Shopping / Age Group': '', 'Google Shopping / MPN': '', 'Google Shopping / AdWords Grouping': '',
    'Google Shopping / AdWords Labels': '', 'Google Shopping / Condition': '',
    'Google Shopping / Custom Product': '', 'Google Shopping / Custom Label 0': '',
    'Google Shopping / Custom Label 1': '', 'Google Shopping / Custom Label 2': '',
    'Google Shopping / Custom Label 3': '', 'Google Shopping / Custom Label 4': '', 'Variant Image': '',
    'Variant Weight Unit': '', 'Variant Tax Code': '', 'Cost per item': '', 'Price / International': '',
    'Compare At Price / International': '', 'Status': ''}